<div class="panel-group">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="<%= informacion_path %>">+Bar</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="<%= promociones_path %>">Promociones</a></li>
                <li><a href="<%= eventos_path %>">Eventos</a></li>
                <li><a href="<%= compras_path %>">Compras</a></li>

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
      <div class="col-sm-3"></div>
    </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body"><h2 align="center">
          TODO JULIO POMO GRATIS A CUMPLEAÑEROS +BAR
        </h2> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h4 align="justify">
          Fecha: <span class="glyphicon glyphicon-calendar">f</span>Sábado 1 de Julio desde 10:00 pm  al Lunes 31 de Julio a las 11:00 am del 2017 <br>
          <hr align="left" noshade="noshade" size="2" width="100%" />
          Ubicacion: <span class="glyphicon glyphicon-map-marker"></span>Mas Bar, Dolores Hidalgo C.I.N, Guanajuato <br>
          <hr align="left" noshade="noshade" size="2" width="100%" />
          Creado Por:<span class="glyphicon glyphicon-user"></span> +Bar
        </h4> </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="imagen_logo">
        <%= image_tag "3.jpg" %>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>