<div class="container text-center">
  <h3>Bares Galeria</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="<%= image_path("1.jpg") %>" class="img-responsive" style="width: 350px; height: 200px;" alt="Image">
      <p>Titulo</p>
    </div>
    <div class="col-sm-4">
      <img src="<%= image_path("dd2.jpg") %>" class="img-responsive" style="width: 350px; height: 200px;" alt="Image">
      <p>Titulo</p>
    </div>
    <div class="col-sm-4">
      <img src="<%= image_path("dd3.jpg") %>" class="img-responsive" style="width: 350px; height: 200px;" alt="Image">
      <p>Titulo</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="<%= image_path("1.jpg") %>" class="img-responsive" style="width: 350px; height: 200px;" alt="Image">
      <p>Titulo</p>
    </div>
    <div class="col-sm-4">
      <img src="<%= image_path("1.jpg") %>" class="img-responsive" style="width: 350px; height: 200px;" alt="Image">
      <p>Titulo</p>
    </div>
    <div class="col-sm-4">
      <img src="<%= image_path("1.jpg") %>" class="img-responsive" style="width: 350px; height: 200px;" alt="Image">
      <p>Titulo</p>
    </div>
  </div>

</div><br>